@media only screen and (max-width: 600px) {
body {
    background-color: lightblue;
}
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
}

.header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.left-links , .right-links{
    display: flex;
    list-style-type: none; 
    cursor: pointer;
}

.dropbtn {
    background-color: transparent;      /* Match the background color of the li elements */
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 12px 18px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;                     /* Without it, the dropdown is overshadowed by other elements. */
    margin-top: 10px;               /* seperate dropdown from button so it doesn't look like the menu is attaached to it. margin-top allows seperation*/
    border-radius: 8px;
    margin-left: -100%;
}

.dropdown-content > li {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: 0% 10%;
    position: relative;
}

.dropdown-content li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4%;
    bottom: 0;
    background: linear-gradient(rgba(8, 74, 172), rgba(8, 74, 172));
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.dropdown-content li:hover {
    color: rgba(8, 74, 172);
    transition: 0.1s;
}

.dropdown-content li:hover::before {
    visibility: visible;
    transform: scaleX(0.5);
}

.dropdown:hover .dropdown-content {display: block;}

.to-do, .calender, .reminders, .planning {
    background-repeat: no-repeat;    
    background-position: left;              /* Position the icon to the left of each list */
}

.to-do {background-image: url(./images/icon-todo.svg);}
.calender {background-image: url(./images/icon-calendar.svg);}
.reminders {background-image: url(./images/icon-reminders.svg);}
.planning {background-image: url(./images/icon-planning.svg);}

.left-links > li, .left-links > ul, .right-links > li , .dropbtn{
    color:rgba(0,0,0,0.4);
}

.left-links > li:hover, .left-links > ul:hover, .right-links > li:hover, .dropbtn:hover {
    color:rgba(0,0,0);
}

.left-links {
    gap: 60px;
}

.right-links {
    gap: 40px;
    padding-right: 60px;
    padding-left: 0;
}

.login {
    line-height: 39px;              /* align with register button as it moves upwards without line-height*/
}

.button {
    border: 2px solid;
    border-radius: 14px;
    padding: 10px 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;        
    position: fixed;
    top: 20%;                           /*Centre the div content at the middle of the page and slightly to the left through the left syntax*/
    left: 11%;
    gap: 55px;
}

h1 {
    font-size: 80px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
    font-weight: 200;
}

.learn {
    padding: 14px;
    background-color: black;
    color: white;
    border-radius: 14px;
    border-color: black;
    font-size: 18px;
    font-weight: 500;
    width: 36%;
    cursor: pointer;
}

.learn:hover {
    color: black;
    background-color: white;
}

img {
    max-width: 30%;
    position: fixed;        /* Fixed position so I could use top and right styles*/
    top: 15%;
    right: 10%;
}